{% extends "base.html" %}
{% load static %}
{% block content %}


    
    
    
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y bg" style= background-color:white;>
    
    <div class="container ">
      <h2 class="text-center  text-light mb-5">DASHBOARD</h2>
        <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group ">
                <a class="list-group-item active btn btn-gray-light" href="{% url 'manager_dashboard' %}"> Dashboard </a>
                <a class="list-group-item btn btn-outline-gray-light" href="{% url 'user_management' %}"> User Management </a>
                <a class="list-group-item btn btn-outline-gray-light" href="{% url 'product_management' %}"> Product Management </a>
                <a class="list-group-item btn btn-outline-gray-light" href="{% url 'order_management' %}"> Order Management </a>
                <a class="list-group-item btn btn-outline-gray-light" href="{% url 'category_management' %}"> Category Management </a>
                <a class="list-group-item btn btn-outline-gray-light" href="{% url 'variation_management' %}"> Variation Management </a>
                <a class="list-group-item btn btn-outline-gray-light" href="{% url 'admin_orders' %}"> My Orders </a>
                <a class="list-group-item btn btn-outline-gray-light" href="{% url 'admin_change_password' %}"> Change Password </a>
                
            </ul>
            <br>
            <a class="btn btn-gray-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <div class="row">
                <div class="col-sm-6 text-center">
                  <div class="card bg-light">
                    <div class="card-body">
                      <h5 class="card-title">Total Users</h5>
                      <p class="card-text text-gray-light h3">{{order_count}}</p>
                      <a href="{% url 'user_management' %}" class="btn btn-gray-light">View Users</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h5 class="card-title">Total Products</h5>
                        <p class="card-text text-gray-light h3">{{user_count}}</p>
                        <a href="{% url 'product_management' %}" class="btn btn-gray-light">View Products</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="card bg-light mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Total Orders</h5>
                        <p class="card-text text-gray-light h3">{{product_count}}</p>
                        <a href="{% url 'order_management' %}" class="btn btn-gray-light">View Orders</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="card bg-light mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Product Category</h5>
                        <p class="card-text text-gray-light h3">{{category_count}}</p>
                        <a href="{% url 'category_management' %}" class="btn btn-gray-light">View Categories</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="card bg-light mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Total Variations</h5>
                        <p class="card-text text-gray-light h3">{{variation_value}}</p>
                        <a href="{% url 'variation_management' %}" class="btn btn-gray-light">View Variations</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="card bg-light mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Admin Orders</h5>
                        <p class="card-text text-gray-light h3">{{admin_orders.count}}</p>
                        <a href="{% url 'admin_orders' %}" class="btn btn-gray-light">View Orders</a>
                      </div>
                    </div>
                  </div>
              </div>
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}