{% extends 'base.html' %} 
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
  <div class="container">
    <h1 class="text-center h2 mb-4">Manage Orders</h1>
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        <ul class="list-group">
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'manager_dashboard' %}"> Dashboard </a>
            <a class="list-group-item btn btn-outline-gray-light " href="{% url 'user_management' %}"> User Management </a>
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'product_management' %}"> Product Management </a>
            <a class="list-group-item btn btn-outline-gray-light active" href="{% url 'order_management' %}"> Order Management </a>
            <a class="list-group-item btn btn-outline-gray-light " href="{% url 'category_management' %}"> Category Management </a>
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'variation_management' %}"> Variation Management </a>
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'admin_orders' %}"> My Orders </a>
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'admin_change_password' %}"> Change Password </a>
        </ul>
        <br />
        <a class="btn btn-gray-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <div class= " d-flex justify-content-end">
        <form action="" class="search" method="POST" >
          {% csrf_token %}
          <div class="mb-3">
            <div class="input-group  ">
              <input type="text" id="form1" class="form-control" placeholder = "search" name = "key" />
              
            <button class="btn btn-gray-light" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
          </div>
        </form>
      </div>
        <table class="table table-gray-light">
          <thead>
            <tr>
              <th scope="col">Order Number</th>
              <th scope="col">User</th>
              <th scope="col">Billing Name</th>
              <th scope="col">Total</th>
              <th scope="col">Status</th>
              <!-- <th scope="col"></th> -->
              <!-- <th scope="col"></th> -->
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <th scope="row"><a href="{% url 'order_detail' order.order_number %}">{{ order.order_number }}</a></th>
              <td>{{ order.user }}</td>
              <td>{{ order.full_name }}</td>
              <td>{{ order.order_total }}</td>
              <td>
                {% if order.status == 'Cancelled' %}
                <span class="text-danger font-weight-bold">{{ order.status }}</span>
                {% elif order.status == 'Completed' %}
                <span class="text-success font-weight-bold">{{ order.status }}</span>
                {% elif order.status == 'Pending' %}
                <span class="text-muted font-weight-bold">{{ order.status }}</span>
                {% else %} <span class="text-info font-weight-bold">{{ order.status }}</span>
                {% endif %}
              </td>
              <td>
                {% if order.status == 'Pending' %}
                <a href="{% url 'accept_order' order.order_number %}" class="btn btn-sm btn-light">Accept</a>
                {% elif order.status == 'Accepted' %}
                <a href="{% url 'complete_order' order.order_number %}" class="btn btn-sm btn-light">Complete</a>
                {% endif %}
              </td>
              <td>
                {% if order.status == 'Pending' or order.status == 'Accepted' %}
                <a href="{% url 'manager_cancel_order' order.order_number %}" class="btn btn-sm btn-light">Cancel</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}