{% extends 'base.html' %} 
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
  <div class="container">
    <h1 class="text-center h2 mb-4">Manage Products</h1>
    <div class= "d-flex mb-3 justify-content-end">
      
    </div>
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        <ul class="list-group">
            <a class="list-group-item  btn btn-outline-gray-light" href="{% url 'manager_dashboard' %}"> Dashboard </a>
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'user_management' %}"> User Management </a>
            <a class="list-group-item btn btn-outline-gray-light active" href="{% url 'product_management' %}"> Product Management </a>
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'order_management' %}"> Order Management </a>
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'category_management' %}"> Category Management </a>
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'variation_management' %}"> Variation Management </a>
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'admin_orders' %}"> My Orders </a>
            <a class="list-group-item btn btn-outline-gray-light" href="{% url 'admin_change_password' %}"> Change Password </a>
        </ul>
        <br />
        <a class="btn btn-gray-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <div class="row d-flex justify-content-end">
          
            <form action="" class="search" method="POST" class= " d-flex justify-content-center">
              {% csrf_token %}
              <div class="mr-5">
                <div class="input-group w-75 mr-5">
                  <input type="text" id="form1" class="form-control" placeholder = "search" name = "key" />
                  
                <button class="btn btn-gray-light" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              </div>
            </form>
          
            <a href="{% url 'add_product' %}" class="btn btn-gray-light mb-2  ">Add Product</a>
          </div> 
        <table class="table table-gray-light">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th scope="col">Stock</th>
              <th scope="col">Available</th>
              <th scope="col">Featured</th>
              
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <th scope="row">{{ product.id }}</th>
              <td><a href="{% url 'edit_product' product.id %}"  class="text-dark">{{ product.product_name }}</a></td>
              <td>{{ product.category }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.stock }}</td>
              <td>
                {% if product.is_available %}
                <i class="fas fa-check-circle" style="color: #28a745"></i>
                {% else %}
                <i class="fas fa-times-circle" style="color: #c21010"></i>
                {% endif %}
              </td>
              <td>
                {% if product.is_featured %}
                <i class="fas fa-check-circle" style="color: #28a745"></i>
                {% else %}
                <i class="fas fa-times-circle" style="color: #c21010"></i>
                {% endif %}
              </td>
              <td><a href="{% url 'delete_product' product.id %}" class="btn btn-sm btn-light">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- order-group.// -->
        <div class="container" >
          <nav class="mt-4" aria-label="Page navigation sample">
            {% if products.has_other_pages %}
            <ul class="pagination">
              {% if products.has_previous %}
              <li class="page-item"><a class="page-link text-dark" href="?page={{ products.previous_page_number }}">Previous</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link text-dark" href="#">Previous</a></li>
              {% endif %} {% for page_number in products.paginator.page_range %} {% if products.number == page_number %}
              <li class="page-item active"><a class="page-link bg-dark" style="border: none;" href="#">{{ page_number }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link text-dark" href="?page={{ page_number }}">{{ page_number }}</a></li>
              {% endif %} {% endfor %} {% if products.has_next %}
              <li class="page-item"><a class="page-link text-dark" href="?page={{ products.next_page_number }}">Next</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link text-dark" href="#">Next</a></li>
              {% endif %}
            </ul>
            {% endif %}
          </nav>
        </div>
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}